$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;


@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
home-section {
	background: black;
}

body {
	height:90%;
	margin:0;
 font-family: 'EB Garamond', serif;


}

.nav {
	display: flex;
	flex: ;
	flex-wrap: 1;
	height:10vh;
	text-align:center;
  color:white;
}
.nav-item {
	background: #f4a99ad6;
	flex:1;
	padding:1rem;
	
}

.nav-item > a {
	font-size:5vh;
	font-weight: bold;
  color:black!important;
}

.container {
	background: powderblue;
	width:100%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	flex-shrink: 50px;
}

.home {
	height:100%;
  background: orangered;


}

.home-content {
	padding:1em;
	display: flex;
  /*background: linear-gradient(to bottom, #000046, #1cb5e0);*/
  background: #f5b6aa;
    
}


.home-card {
  /*box-shadow: 0px 4px 11px 0px #332d2d8a;*/
	margin:0 auto;
	padding:2em;
	margin-bottom: 1em;
	padding-top: 0px;
  border-radius: 6px;
/*  background: white;
*/



}

.home-card > p {
	margin-top:'none';
  font-size:1em;
  color:black;
}

.home-card > img {
	flex-wrap: wrap;

}


.bubbly-button {
  text-decoration: none;
  font-weight: bolder;
  display: inline-block;
/*  font-size: 1em;
*/ padding:.5em 2em ;
  margin-top: 10%;
  -webkit-appearance: none;
  appearance: none;
  background-color:orangered;
  color: #fff;
/*  font-weight: bold;
  font-size:1.5em;*/
  border-radius: auto;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0px 1px 11px rgb(245, 222, 179);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
 
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  
}
.bubbly-button:active {
  transform: scale(0.9);
  background: orangered;
}


.clip-1 {
      height: 100px;
      width: 100%;
      min-width: 100%;
      /*background-color: #1cb5e0;*/
      background: #f5b6aa;
      -webkit-clip-path: ellipse(41% 186px at 36% -26%);
      -moz-clip-path: ellipse(41% 186px at 36% -26%);
      clip-path: ellipse(80% 100px at 66% -26%);
      flex :1;

}
.hero-landing .hero__wave {
    bottom: -.1875rem;
    left: -1.25rem;
    max-height: 5.4375rem;
    position: absolute;
    -webkit-transform: scaleX(1.1);
    transform: scaleX(1.1);
    width: calc(100% + 20px);
    z-index: 3;
}

.shapes {
  display: flex;
}


.main-p {
  font-size:1.2em;
}

@media only screen and (max-width: 668px) {
  .para-card {width:90%!important;}
  .test-container {height:}
  .test-enter {height: auto!important;}
  .home-content{flex-direction: column;}
  .home-img{margin:0 auto;width: 90%!important;}
  .home {background: white;}
  
}
.FaGithub {
  color:black;
}
.FaFork {
  color:black;
}
.FaReact {
  color:#1cb5e0;
}

.test-container {
  height: 90vh;
  background:#f5b6aa;
  margin:0 auto;

  
}

.test-card {
  padding:1em;
  height: 60%;
}

.para-card {
    box-shadow: 0 4px 6px 0 rgba(51,45,45,.54);
    margin: 0 auto;
    margin-bottom: 1em;
    padding-top: 0px;
    border-radius: 6px;
    background: white;
    width:70%;
    padding:1em;
    font-size: larger;
    letter-spacing: 1px;
  }

.test-enter {
  margin:0 auto;
  height:15%;
  background: white;
  width: 50%
}

.test-below {
  height: 32%;
}

#paraEnter {
  height: 100%;
  width: 100%;
  font-size: larger;
  padding: 0% 3%;
  outline: none!important;
  padding-right: 5px;
  border: 0;
  color: rgba(32,78,87,.9);
  box-shadow: none;
  background-color: #fff;
  margin: 0;
  flex: 1 1;
  border-radius: 7px;
}



.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  height: 90%!important;
  width:100%!important;
  margin:0 auto;
  padding: 2em;
  text-align: center;
  background: #f9f8f894;
  border-radius: 5px;

}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.reloadbt {
      display: flex;
    justify-content: flex-end;
}

.login {
  background: white;
  border-radius: 5px;
  padding:2em;
}

.form {
    background-color: #fff;
/*    box-shadow: 1px 2px 7px rgba(114,182,234,.2);
*/    border-radius: 8px;
    padding:1em;
}
.form-div {
    display: flex;
    border: 1px solid #caeaf6;
    padding: 5px;
    border-radius: 7px;
    /* padding-right: 2em; */
    position: relative;
}

.form-label {
     color: rgba(39,95,106,.85);
    position: absolute;
    top: -.9em;
    left: calc(.75rem - 2px);
    background-color: #fff;
    padding: 0 8px;
}

.form-input {
    padding: 11px;
    padding-right: 5px;
    border: 0;
    color: rgba(32,78,87,.9);
    box-shadow: none;
    background-color: #fff;
    margin: 0;
    flex: 1;
    border-radius: 7px;

}
.wrap {
  width:100%;
  height: 100%;
   filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.startheader {
  margin-top: 0px;
  margin-bottom: 0px;
}