<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Typerex</title>

		<!-- CSS -->
		<!-- load bootstrap and our own personal stylesheet -->
		<link
			href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1>Typerex express server</h1>
				<p><%= description %></p>
				<a href="/test" class="btn btn-primary btn-lg">Test</a>
				<a href="/addUser/" class="btn btn-primary btn-lg">addUser</a>
				<a href="/updateUser/" class="btn btn-primary btn-lg"
					>updateUser</a
				>
			</div>
		</div>
	</body>
</html>